<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; to <a href="https://www.facebook.com/AbdulRahmanAlaa95"> AbdulRahmanAlaa </a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path%>
        </li>
      </ul>
    </nav>
  </footer>
</div>